---
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";

import '@fontsource-variable/quicksand';

const background_color = "rgb(249, 239, 219)";
const accent_color = "#9dbc98";
const text_color = "#000000";
const text_accent_color = "#638889";
---

<style define:vars={{ background_color, accent_color, text_color, text_accent_color }} is:global >
	body {
		background-color: var(--background_color);
		margin: 0;
	}

	h1,h2,h3,h4,h5,p,span {
		font-family: 'Quicksand Variable', sans-serif;
		margin: 0;
	}

	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 27px;
	}

	h3 {
		font-size: 20px;
		color: var(--text_accent_color);
	}

	h4 {
		font-size: 20px;
	}

	h5 {
		font-size: 20px;
		font-weight: normal;
	}

	p {
		font-size: 18px;
	}

	i {
		color: var(--text_accent_color);
	}
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/xml+svg" href="/logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="I have 4 years of experience with C++ and specialize in dev tools,<br>Also like to dable with rendering and embedded programming in Zig" />
		<title>Cornee Nieuwenhuis</title>
	</head>
	<body>
		<Navbar/>
		<Hero/>
		<About/>
		<Experience/>
		<Projects/>
	</body>
</html>
