---

---

<style>
    section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 150px;
    }

    .container {
        width: 800px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
    }

    .text {
        width: 600px;
    }
</style>

<section>
    <div class="container">
        <h3>
            About Me
        </h3>
        <p class="text">
            I’m a programmer passionate about creating software and tools for other developers that make their work better and more enjoyable,
            be that in-engine or custom solutions. I love the feedback loop that good software creates between the developer and the user,
            those are the backbone of robust and high usability tooling.
            <br><br>
            Currently I’m a Programmer at Tenstar Simulation, specialzing in Tools and Embedded, with content development on the side.
            I contribute mostly to the up keep of our various tools and the firmware that keeps the steering wheels from flying off.
            Also get to dabble with Lua on the content side.
            <br><br>
            In my spare time, I’m usually cycling, out in nature, working out, baking vegan cakes with my girlfriend,
            or reading a rendering paper that i don’t fully understand
        </p>
    </div>
</section>