---

---

<style>
    div {
        position: fixed;
        margin: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

</style>

<div>
    <img src="/logo.svg" width="125" height="125" alt="Personal logo showing my initals: C N"/>
</div>