---

---

<style>
    div {
        position: fixed;
        margin: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    img:hover {
        cursor: pointer;
    }

</style>

<script>
    const logo = document.getElementById("logo")

    logo?.addEventListener('click', () => {
        scrollTo({
            top: 0,
            left: 0,
            behavior: "smooth",
        })
    });
</script>

<div>
    <img id="logo":  src="/logo.svg" width="125" height="125" alt="Personal logo showing my initals: C N"/>
</div>